<!DOCTYPE html>
<html>

<head>
    {% include 'head.html' %}
    <title>Place-login</title>
</head>
<body>
    {% include 'navbar.html' %}
    <img class="calogo" src=" ../static/img/log.jpg" alt="Corona Archive">
    <div class="container">
        {% if msg is defined %}
        <div class="badge badge-danger d-block mb-5 p-2">{{ msg }}</div>
        {% endif %}
        <section id="content">
            <form action="/login_place" method="POST">
                <h1>Login<br> </h1>
                <h2>As a Place</h2>
                <div class="form-group">
                    <label class="form-control-label" for="place">Username</label>
                    <input class="form-control form-control-lg" id="place" name="user_name" required="" type="text" value="">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">Password</label>
                    <input class="form-control form-control-lg" id="password" name="password" required="" type="password" value="">
                </div>

                <div class="form-check">
                    <input class="form-check-input" id="remember" name="remember" type="checkbox" value="y">
                    <label class="form-check-label" for="remember">Stay logged in</label>
                </div>
                <div class="form-group">
                    <a href="/login_place">
                        <input id="submit" name="submit" type="submit" value="Login">
                    </a>
                </div>
                <div class="form-group">
                    <small>
                        <a class="ml-2" href="#">Forgot your password?</a>
                    </small>
                </div>
                <div class="form-group">
                    <small>
                        <a class="ml-2" href="/register_place">Not in the Archive?</a>
                    </small>
                </div>
            </form><!-- form -->
        </section><!-- content -->
    </div><!-- container -->
</body>
</html>