<div class="w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-button w3-mobile">HOME</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile">FEATURE</a><!-- user specific feature page -->

    <div class="w3-dropdown-hover" style="float:right;">
        <a href="/" class="w3-bar-item w3-button w3-mobile">LOGOUT</a>
    </div>
    <div class="w3-dropdown-hover" style="float:right;">
        <button class="w3-button">REGISTER</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/register_visitor" class="w3-bar-item w3-button">VISITOR</a>
            <a href="/register_place" class="w3-bar-item w3-button">PLACE</a>
            <a href="/register_hospital" class="w3-bar-item w3-button">HOSPITAL</a>
        </div>
    </div>
    <div class="w3-dropdown-hover" style="float:right;">
        <button class="w3-button">LOGIN</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/login_visitor" class="w3-bar-item w3-button">VISITOR</a>
            <a href="/login_place" class="w3-bar-item w3-button">PLACE</a>
            <a href="/login_agent" class="w3-bar-item w3-button">AGENT</a>
            <a href="/login_hospital" class="w3-bar-item w3-button">HOSPITAL</a>
        </div>
    </div>
</div>