<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/visitor_log.css')}}">

</head>

<body>
    <div class="login-page">
        <div class="form">
            <form action="/visitor_log" method="post">
                <input type="text" placeholder="username" name="user_name" />
                <input type="password" placeholder="password" name="password" />
                <button>login</button>
            </form>
            <a href="/">Main Page</a>
        </div>
    </div>

</body>

</html>